atomicwrites==1.4.0
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
brotlipy==0.7.0
certifi==2022.5.18.1
cffi @ file:///C:/ci_310/cffi_1642682485096/work
charset-normalizer==2.0.12
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
conda==4.13.0
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///C:/ci/conda-package-handling_1649106011304/work
cryptography @ file:///C:/ci/cryptography_1639414720302/work
cycler==0.11.0
fonttools==4.33.3
idna==3.3
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
kiwisolver==1.4.2
lxml @ file:///C:/ci/lxml_1657527445690/work
matplotlib==3.5.2
menuinst @ file:///C:/ci/menuinst_1631733438520/work
numpy==1.22.4
packaging==21.3
Pillow==9.1.1
pluggy @ file:///C:/ci/pluggy_1648024580010/work
py @ file:///opt/conda/conda-bld/py_1644396412707/work
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycrypto @ file:///C:/ci/pycrypto_1608509472317/work
pycryptodome @ file:///C:/ci/pycryptodome_1641468918095/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PySocks @ file:///C:/ci/pysocks_1605307512533/work
pytest==7.1.2
python-dateutil==2.8.2
pywin32==302
requests==2.27.1
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016898638/work
selenium @ file:///C:/ci/selenium_1614268120390/work
simple-crypt==4.1.7
six==1.16.0
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
tqdm @ file:///opt/conda/conda-bld/tqdm_1647339053476/work
urllib3==1.26.9
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wincertstore==0.2
